<h1>New sighting</h1>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<form action='/species/<%= @sighting.species_id %>/sightings' method='post'>
  <label for='sighting_date'>Sighting date</label>
  <input id='sighting_date' name='sighting[date]' type='text' value='YYYY-MM-DD'>
   <label for='sighting_latitiude'>Latitude</label>
   <input id='sighting_latitiude' name='sighting[latitiude]' type='text' value='<%= @sighting.latitiude %>'>
   <label for='sighting_longitude'>Latitude</label>
   <input id='sighting_longitude' name='sighting[longitude]' type='text' value='<%= @sighting.longitude %>'>


  <button>Create sighting</button>
</form>
