<h1>You removed the animal from the forest. </h1>

<img src="http://blog.theclymb.com/wp-content/uploads/2013/02/5-Campfire-Cooking-Tips-.jpg">
<h3>Who is cooking?</h3>


<button><a href="/species/">Main</a></button>
