<h1><%= @species.name %> </h1>

<% if @species.name == 'Gerbilmom' %>
  <img src="http://editthis.info/images/speakeasy/5/5b/Gerbil2.jpg">
<% end %>

<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>

<p>Back to main <a href="/species">menu</a></p>
