<h1>A wild <%= @species.name %> has been spotted!</h1>

<img src="http://funnyasduck.net/wp-content/uploads/2013/07/funny-shocked-leopard-ive-been-spotted-pics.jpg">

<p> Get out your gun, or bring a cook pot.<p>

<button><a href="/species/">Main</a></button>
