<h1>Region Management</h1>

<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRNP07nJgn2BqrOLbBbJxX-C9YBAiZRtU9VGdL70kO6nXuBn-fscg">

<h3> Add a region </h3>
<form action="/regions/" method="post">
  <label for="region_name">Region Name</label>
  <input id="region_name" name="region[name]" type="text">
  <button>Add Habitat</button>
</form>
<br><br>
<h3>Current Regions</h3>
<ul>
  <% @regions.each do |region|%>
    <li><a href="/regions/<%= region.id%>"><%= region.name %></a></li>
  <% end %>
</ul>


